<div class="container">
    <div class="hero-text3">
        <img src="../../../assets/images/8015dbe54fd3659cc0366c1cc77f664c1601890512.avif" width="900">
        <h1>We would love to here from you !!</h1>
        
            
        </div>
</div>

<div class="container">


<select class="form-select" aria-label="Default select example">
    <option selected>How can we help you?</option>
    <option value="1">I need help with my Zomato online order.</option>
    <option value="2">I would like to give feedback/suggestions.</option>
    <option value="3">I found incorrect/outdated information on a page.</option>
    <option value="4">The website/app are not working the way they should.</option>
  </select>

<br>

<div class="mb-3 ">

<input type="textbox" class="form-control" id="formGroupExampleInput" placeholder="Name">
</div>

<br>

<div class="mb-3">

<input type="textbox" class="form-control" id="formGroupExampleInput2" placeholder="Email">
</div>
<br>
<div class="mb-3">

<input type="textbox" class="form-control" id="formGroupExampleInput2" placeholder="Phone number">
</div>
<br>
<div class="mb-3">

<textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Type a text" rows="3"></textarea>
</div>

<br>
<button type="submit" class="btn btn-danger mb-3" href="home.html"> Submit Feedback</button>

</div>
