<div class="container">
    <h2 style="text-align:center">Your Order</h2>
    <br>
    <form [formGroup]="myform2" class="row g-3" style="border: 1px solid grey;">
    <div class="col-md-6 form-group">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" formControlNmame="name" class="form-control" id="inputEmail4" required>
      <div class="text-danger" *ngIf=" myform2.controls['name'].touched && myform2.controls['name'].invalid">
        *Please enter your name
    </div>
    </div>
    <div class="col-12 form-group">
        <label for="inputAddress2" class="form-label">Address</label>
        <input type="text" formControlNmame="address" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" required>
        <div class="text-danger" *ngIf=" myform2.controls['address'].touched && myform2.controls['address'].invalid">
          *Enter the address
      </div>
      </div>
    <div class="col-md-6 form-group">
      <label for="inputPassword4" class="form-label">Phone number</label>
      <input type="text" formControlNmame="password" class="form-control" id="inputPassword4" required>
      <div class="text-danger" *ngIf=" myform2.controls['phone'].touched && myform2.controls['phone'].invalid">
        *Please enter your phone number
    </div>
    </div>
    <div class="col-12 ">
        <button type="submit" (click)="getValues" class="btn btn-primary m-3" style="align-items: center;" [routerLink]="['/confirm-order']" mat-tab-group mat-align-tabs= 'start'>Confirm Order</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
    </form>
    <br>
    </div>