<div class="container">
    <mat-tab-group>
        <mat-tab label="Delivery"> Content 1 </mat-tab>
        <mat-tab label="Dining Out"> Content 2 </mat-tab>
        <mat-tab label="Nightlife"> Content 3 </mat-tab>
      </mat-tab-group>
    
      <section>
        <div class="example-label mb-3"></div>
        <div class="example-button-row p-3 mb-3" >
          <button class="m-3" mat-stroked-button>Filters</button>
          <button class="m-3" mat-stroked-button>Delivery Time</button>
          <button class="m-3" mat-stroked-button>Rating: 4.0+</button>
          <button class="m-3" mat-stroked-button>Pure Veg</button>
          <button class="m-3" mat-stroked-button>Cuisines</button>
          <button class="m-3" mat-stroked-button>More..</button>
        </div>
      </section>
      <h1>Order food online in Mominpura, Nagpur</h1>
      <section class="container">
          <div class="order-cat">
              <div class="hover">
                  <img src="https://b.zmtcdn.com/data/pictures/chains/1/3100441/99c74f76d5aa37e5c1eddbf97c20672e_featured_v2.jpg?output-format=webp">
                  <div class="order-title-bg">
                      <p class="order-title">Barbeque nation</p>
                      <p>BBQ, North Indian, Chinese
                          ₹1,600 for two</p>
                      <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book now</a>
                  </div>
              </div>
              <div class="hover">
                  <img src="https://b.zmtcdn.com/data/pictures/5/19376355/7def946af4a6478602e01b355acc7122_featured_v2.jpg?output-format=webp">
                  <div class="order-title-bg">
                      <p class="order-title">Hotel Sai palace</p>
                      <p>North Indian, South Indian, Chinese, Continental, Mughlai, Biryani, Beverages

                          ₹700 for two</p>
                      <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
                  </div>
              </div>
              <div class="hover">
                  <img src="https://b.zmtcdn.com/data/pictures/9/19719369/649f85bad2301f0b89380de6c578926f_featured_v2.jpg">
                  <div class="order-title-bg">
                      <p class="order-title">Buttercream Cafe</p>
                      <p>Cafe, Bakery, Beverages, Desserts, Shake, Pizza, Sandwich

                          ₹400 for two</p>
                      <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
                  </div>
              </div>
          </div>
  </section>
  <section class="container">
      <div class="order-cat">
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/7/3100017/3cf00fa702a0c768761bc0a40c255f1a_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title"> HotelSagar Ratna</p>
                  <p>South Indian, North Indian, Chinese, Fast Food, Shake

                      ₹700 for two</p>
                  <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
              </div>
          </div>
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/chains/0/3100000/26f7fe267315471fc9054618492fbe50_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title">Pizza hut</p>
                  <p>Pizza, Fast Food, Desserts, Beverages

                      ₹600 for two</p>
                  <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
              </div>
          </div>
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/9/19454099/bcb36200ede40dcf85e37ff6382b6f41_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title">Siya cafe and resto</p>
                      <p>Shake, Pizza, Burger, Chinese, Beverages, North Indian, Lebanese, Pasta

                          ₹550 for two</p>
                      <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
              </div>
          </div>
      </div>
  </section>
  <section class="container">
      <div class="order-cat">
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/9/18936649/f84640532f6c8ba0711944af2cb56329_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title">Arabian treat family resto</p>
                  <p>Fast Food, Shake

                      ₹450 for two</p>
                  <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book now</a>
              </div>
          </div>
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/3/18757983/586f231f88ce8b2e65e9f38f3c33950c_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title">Cake house</p>
                  <p>Bakery, Desserts

                      ₹300 for two</p>
                  <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
              </div>
          </div>
          <div class="hover">
              <img src="https://b.zmtcdn.com/data/pictures/3/19084273/53d9453b63152216f86dd19592ae33a4_featured_v2.jpg">
              <div class="order-title-bg">
                  <p class="order-title">Hotel Saffron</p>
                  <p>South Indian, North Indian, Chinese, Street Food, Shake, Beverages

                      ₹400 for two</p>
                  <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
              </div>
          </div>
      </div>
</section>
<!-- --------------------------------------------------- -->

<section class="container">
    <div class="order-cat">
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/7/3100017/3cf00fa702a0c768761bc0a40c255f1a_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title"> HotelSagar Ratna</p>
                <p>South Indian, North Indian, Chinese, Fast Food, Shake

                    ₹700 for two</p>
                <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/chains/0/3100000/26f7fe267315471fc9054618492fbe50_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title">Pizza hut</p>
                <p>Pizza, Fast Food, Desserts, Beverages

                    ₹600 for two</p>
                <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/9/19454099/bcb36200ede40dcf85e37ff6382b6f41_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title">Siya cafe and resto</p>
                    <p>Shake, Pizza, Burger, Chinese, Beverages, North Indian, Lebanese, Pasta

                        ₹550 for two</p>
                    <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="order-cat">
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/9/18936649/f84640532f6c8ba0711944af2cb56329_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title">Arabian treat family resto</p>
                <p>Fast Food, Shake

                    ₹450 for two</p>
                <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/3/18757983/586f231f88ce8b2e65e9f38f3c33950c_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title">Cake house</p>
                <p>Bakery, Desserts

                    ₹300 for two</p>
                <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <div class="hover">
            <img src="https://b.zmtcdn.com/data/pictures/3/19084273/53d9453b63152216f86dd19592ae33a4_featured_v2.jpg">
            <div class="order-title-bg">
                <p class="order-title">Hotel Saffron</p>
                <p>South Indian, North Indian, Chinese, Street Food, Shake, Beverages

                    ₹400 for two</p>
                <a [routerLink]="['/book-now']" mat-tab-group mat-align-tabs= 'start' href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</section>
