<div class="border border-info m-2 p-3" style="background-color: lightgoldenrodyellow;">
  <h2 style="color: blue; text-align: center;">Login Form</h2>
<form novalidate [formGroup]="myform">
  <fieldset>
      <div class="form-group">
          <label>Name </label>
          <input formControlName="name" type="text" class="form-control">
          <div class="text-danger" *ngIf=" myform.controls['name'].touched && myform.controls['name'].invalid">
            *Please enter your name
        </div>
      </div>
  </fieldset>
 
  <div class="form-group">
      <label>Phone number</label>
      <input formControlName="phone" type="text" class="form-control">
      <div class="text-danger" *ngIf=" myform.controls['phone'].touched && myform.controls['phone'].invalid">
        *Please enter your name
    </div>
  </div>
 {{myform.value|json}}
<div class="col-12">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-primary" type="button"><i class="bi bi-envelope-fill"></i>Continue with gmail</button>
        <button class="btn btn-outline-primary" type="button"><i class="bi bi-google"></i>Continue with Google</button>
      </div>
</div>
<div class="col-12">
  <button type="submit" (click)="getValues()" class="btn btn-primary" style="align-items: center;">Log in</button>
  <a href="/signup" >New to Zomato? create account</a>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
</form>
</div>