<div class="container">
    <h2 style="text-align:center;color: blue;text-decoration: underline;">Book A Table</h2>
    <br>
    <form [formGroup]="myform3" class="row g-3" style="border: 1px solid rgb(76, 87, 240);padding: 3px;">
        <h3 style="color: orange;"><b>We are glad to have you at our restaurant!!!</b></h3>
      <div class="col-md-6 form-group">
        <label for="inputEmail4" class="form-label"><b>Name</b></label>
        <input type="text" formControlName="name" class="form-control" id="inputEmail4" required>
        <div class="text-danger" *ngIf=" myform3.controls['name'].touched && myform3.controls['name'].invalid">
          *Please enter your name
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="inputPassword4" class="form-label"><b>Phone number</b></label>
        <input type="text" formControlName="phone" class="form-control" id="inputPassword4" required>
        <div class="text-danger" *ngIf=" myform3.controls['phone'].touched && myform3.controls['phone'].invalid">
          *Please enter your phone number
        </div>
      </div>
      <div class=" form-group">
        <label for="inputAddress" class="form-label"><b>Email</b></label>
        <input type="email" formControlName="email" class="form-control" id="inputAddress" placeholder="abc@gmail.com"
          required>
        <div class="text-danger" *ngIf=" myform3.controls['email'].touched && myform3.controls['email'].invalid">
          *Enter valid email id
        </div>
      </div>
      <div class="col-12 form-group">
        <label for="inputAddress2" class="form-label"><b>Date</b></label>
        <input type="date" formControlName="date"  placeholder="yyyy-mm-dd" value="" min="1997-01-01" max="2030-12-31" class="form-control" id="inputAddress2"
           required>
        <div class="text-danger" *ngIf=" myform3.controls['date'].touched && myform3.controls['date'].invalid">
          *Enter the date
        </div>
      </div>
      <div class="col-12 form-group">
        <label for="inputAddress2" class="form-label"><b>Time</b></label>
        <input type="time" formControlName="time" class="form-control" id="inputAddress2"
           required>
        <div class="text-danger" *ngIf=" myform3.controls['time'].touched && myform3.controls['time'].invalid">
          *Select the time
        </div>
      </div>
    
      <div class="col-12 form-group">
        <label for="inputState" class="form-label"><b>No. of Attendees</b></label>
        <select formControlName="noa" id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>6</option>
          <option>8</option>
          <option>more..</option>
        </select>
      </div>
      <div class="col-12 form-group">
        <label for="inputAddress2" class="form-label"><b>Comments/Additional requests</b></label>
        <input type="textarea"  class="form-control" id="inputAddress2"
          >
        
      </div>
      
      <div class="col-12 ">
        <button type="submit" (click)="getValues(myform3)" class="btn btn-primary m-3" style="align-items: center;" [routerLink]="['/confirm-order']" mat-tab-group mat-align-tabs= 'start'>Book Now</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
    </form>
    <br>
  </div>