<div class="container">
<div class="card-group">
    <div class="card">
      <img src="https://b.zmtcdn.com/data/red_images/24fd322d0ec5252ce07673df3965d8f0.png" class="card-img-top" alt="...">
      
    </div>

    <div class="card">
      <img src="https://b.zmtcdn.com/data/red_images/4e40e7a76166c400fa044a9ba01cfa15.png" class="card-img-top" alt="...">
      
    </div>
  </div>
  <br>
  <br>
  <hr >
  <br>
  <h2 style="text-align:center;">SELECT YOUR MEMBERSHIP</h2>
  <br>
  
  <div style="align-self: center ;">
   
<a href="https://www.zomato.com/proplus">
<img src="https://b.zmtcdn.com/data/o2_assets/74fe61f0c8ae6ba08a3d310cbca2f2b11627549858.png" alt="ProPlus" width="404">
</a>
</div>
<br>
<div class="row">
    <div class="col-4">
      <div class="card w-70 p-3">
        <div class="card-body">
          <h2 class="card-title"><b>Full Membership</b></h2>
          <p class="card-text" style="color:rgb(236, 17, 83) ;font-size: medium;">₹ 149 for month</p>
          <p class="card-text" style="font-size:medium;color:gray">Unlock gold privilages on all days of the week</p>
          <button type="button" class="btn btn-outline-danger">Buy plan</button>
        </div>
      </div>
    </div>
   <div class="col-4">
      <div class="card w-70 p-3">
        <div class="card-body">
          <h2 class="card-title"><b>3 Month Membership</b></h2>
          <p class="card-text" style="color:rgb(236, 17, 83) ;font-size: medium;">₹ 200 for 3 months</p>
          <p class="card-text" style="font-size:medium;color:gray">Valid across India</p>
          <button type="button" class="btn btn-outline-danger">Buy plan</button>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card w-70 p-3 h-300">
          <div class="card-body">
            <h2 class="card-title"><b>Annual Pro Membership</b></h2>
            <p class="card-text" style="color:rgb(236, 17, 83) ;font-size: medium;">₹ 750 for 1 year</p>
            <p class="card-text" style="font-size:medium;color:gray">All Pro benefits</p>
            <button type="button" class="btn btn-outline-danger">Buy paln</button>
          </div>
        </div>
      </div>
  </div>    

  
</div>
<br>
<br>
